In [1]:
#Import modules
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, Column, Integer, Float, String, ForeignKey
from sqlalchemy_utils import database_exists, create_database
import pandas as pd

In [2]:
df_HI_meas = pd.read_csv('Resources/clean_hawaii_measurements.csv')
df_HI_stat = pd.read_csv('Resources/clean_hawaii_stations.csv')

df_HI_meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [3]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [4]:
#Stations table
class Stations(Base):
    __tablename__ = 'stations'
    station = Column(String, primary_key=True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

#Measurements Table
class Measurements(Base):
    __tablename__ = 'measurements'
    meas_id = Column(Integer,primary_key=True)
    station = Column(String, ForeignKey('stations.station'))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Float)

In [5]:
#build engine
engine = create_engine('sqlite:///hawaii.sqlite')
if not database_exists(engine.url):
    create_database(engine.url)

In [6]:
#Connection
conn = engine.connect()

#Create metadata
Base.metadata.create_all(engine)

In [7]:
#Create Session
session = Session(bind=engine)

In [8]:
#Append dfs to newly minted tables
df_HI_stat.to_sql('stations',engine,if_exists='append', index=False)
df_HI_meas.to_sql('measurements',engine,if_exists='append',index=False)

In [23]:
results1 = session.query(Stations.station).limit(10).all()
results1

[('USC00511918'),
 ('USC00513117'),
 ('USC00514830'),
 ('USC00516128'),
 ('USC00517948'),
 ('USC00518838'),
 ('USC00519281'),
 ('USC00519397'),
 ('USC00519523')]

In [24]:
results2 = session.query(Measurements.station).limit(10).all()
results2

[('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397'),
 ('USC00519397')]